@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827; /* Dark Gray-Blue */
  background-image: radial-gradient(circle at 1px 1px, #374151 1px, transparent 0);
  background-size: 20px 20px;
  font-family: 'Inter', sans-serif;
  color: #F9FAFB; /* Almost White */
}